<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PlanillaUTN.Properties.Settings.CadenaSqlServer" connectionString="Data Source=DESKTOP-VNN6C4R\SQLEXPRESS;Initial Catalog=PlanillaUTN;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>